.content-main {
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
}

.content {
    width: 100%;
    max-width: 2440px;
    padding-bottom: 20px;
    min-height: 100vh;
}

.content.moviepage {
    max-width: 1280px;
}
