body {
    background-color: rgb(5, 5, 5); /*rgb(87, 87, 87);*/
    font-family: Roboto, Helvetica, Arial, sans-serif;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mask {
    width: auto;
    height: auto;
}

.bg-image {
    height: auto;
}

.darkBackground {
    background-color: black;
}

.accordion-header {
    background-color: rgba(0, 0, 0, 0.3);
}

.accordion-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(57, 192, 237, 0.3);
    color: white;
}

.transparentBG-noHover {
    background-color: rgba(0, 0, 0, 0.5);
}

.transparentBG {
    background-color: rgba(0, 0, 0, 0.5);
}

.transparentBG.active {
    background-color: rgba(57, 192, 237, 0.5);
}

.transparentBG:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.transparentBG.active:hover {
    background-color: rgba(57, 192, 237, 0.8);
}

.btn-check:checked.btn-primary {
    background-color: rgba(57, 192, 237, 0.8);
}

.btn-group span label {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-group span label:hover {
    background-color: rgba(0, 0, 0, 1);
}

.btn-check:checked + .btn-primary {
    background-color: rgba(57, 192, 237, 0.5);
}

.fake-link {
    color: white;
    cursor: pointer;
}

div.card.text-center {
    background-color: rgba(0, 0, 0, 0.5);
}

.bold {
    font-weight: bold;
}

.tooltip.bs-tooltip-top div {
    margin-bottom: 12px;
}

.tooltip div {
    background-color: black;
}

/*fonte: https://css-tricks.com/perfect-full-page-background-image/*/
.fullscreenImage {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    .fullscreenImage {
        left: 75%;
        margin-left: -768px; /*-512px; /* 50% */
    }
}
