body {
    background-color: rgb(5, 5, 5); /*rgb(87, 87, 87);*/
    font-family: Roboto, sans-serif;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup:hover {
    cursor: pointer;
    transform: scale(1.01);
}

.mask {
    width: auto;
    height: auto;
}

.bg-image {
    height: auto;
}

.darkBackground {
    background-color: black;
}

.accordion-header {
    background-color: rgba(0, 0, 0, 0.3);
}

.accordion-button {
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}

.accordion-button:not(.collapsed) {
    background-color: rgba(57, 192, 237, 0.3);
    color: white;
}

.transparentBG-noHover {
    background-color: rgba(0, 0, 0, 0.5);
}

.transparentBG {
    background-color: rgba(0, 0, 0, 0.5);
}

.transparentBG.active {
    background-color: rgba(57, 192, 237, 0.5);
}

.transparentBG:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.transparentBG.active:hover {
    background-color: rgba(57, 192, 237, 0.8);
}

.btn-check:checked.btn-primary {
    background-color: rgba(57, 192, 237, 0.8);
}

.btn-group span label {
    background-color: rgba(0, 0, 0, 0.8);
}

.btn-group span label:hover {
    background-color: rgba(0, 0, 0, 1);
}

.btn-check:checked + .btn-primary {
    background-color: rgba(57, 192, 237, 0.5);
}

.fake-link {
    color: white;
    cursor: pointer;
}

div.card.text-center {
    background-color: rgba(0, 0, 0, 0.5);
}

.bold {
    font-weight: bold;
}

.tooltip.bs-tooltip-top.spacing div {
    margin-bottom: 12px;
}

.tooltip div {
    background-color: black;
}

/* Altera o background dos Selects pra transparente */
.css-1s2u09g-control {
    background-color: rgba(0, 0, 0, 0.8) !important;
}

/* Altera o background dos Selects selecionados pra transparente */
.css-1pahdxg-control {
    background-color: rgba(0, 0, 0, 0.8) !important;
    border-color: rgb(57, 192, 237) !important;
}

.css-qc6sy-singleValue {
    color: white !important;
}

.css-yluhpa-option {
    background-color: rgba(57, 192, 237, 0.5) !important;
}

.css-1wahdgp-multiValue div svg {
    filter: brightness(0) !important;
}

.css-1pndypt-Input {
    color: white !important;
}

#react-select-2-input {
    color: white !important;
}

#react-select-5-input {
    color: white !important;
}

.video-container {
    overflow: hidden;
    position: relative;
    width: 100%;
}

.video-container::after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/*fonte: https://css-tricks.com/perfect-full-page-background-image/*/
.fullscreenImage {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: fixed;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    .fullscreenImage {
        left: 75%;
        margin-left: -768px; /*-512px; /* 50% */
    }
}
